@{
    ViewBag.Title = "About";
}

<div>
    <h3>Bio</h3>
    <p>
        I’m a passionate technologist who is always looking to learn more.
        Between my experience with the business, and my constant drive to learn - I’m excited to blaze down the trail of becoming a software engineer.
        I’m strongly motivated by finding solutions to problems, and diving deep into engineering will enable my goal of being a software architect in the future.
        My path has been molded by a blend of creativity, as well as technology, which powers my innovation-driven mindset, and a hunger to “figure it out” no matter the problem.
    </p>
</div>
<div>
    <h3>Contact</h3>
    <ul>
        <li><a href="mailto:bencolejend@gmail.com">Email</a></li>
        <li>Phone: 567-377-7924</li>
    </ul>
</div>
