@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to my website!</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Developing</h2>
        <p>
            I've spent the past 4 years as a Business Analyst on a C# .NET team working with the storage, cleansing, and exposure of data. 
            My curiosity and drive to learn has brought me on a new journey - learning to code in C#. I haven't always had a background in technology, but I've always been insatiably curious.
        </p>
        @Html.ActionLink("Go to my Portfolio", "Portfolio", "Home")
    </div>
    <div class="col-md-4">
        <h2>Hometown</h2>
        <p>I'm originally from Toledo, Ohio, but I've relocated to Detroit, MI for work. Toledo has always been right behind Detroit in innovation, so the move here makes sense to pursue a technology career.</p>
    </div>
</div>