@{
    ViewBag.Title = "Portfolio";
}

<div>
    <h3>Projects</h3>
    <p>One of the projects I worked on was our midterm at Grand Circus. I paired with three other classmates and we built a point-of-sale system for an imaginary coffee shop.</p>
    <a href="https://www.github.com/literatim/AHBCMidterm">Link to project on GitHub</a>
</div>